/* Слайдер */
.slick-slider{
  position: relative;
  left: -28%;
  top: 166px;
  z-index: 2;
}
/* Слайдер запущен */
.slick-slider.slick-initialized{
  width: 636px;
  z-index: 2;
}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}
/* Слайд */
.slick-slide{
  max-width: 639px;
  overflow: hidden;
  z-index: 2;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{
  right: 0;
  background: url(../img/arrows/Arrowprew.svg) 0 0 / 100% no-repeat;
  border: none;
  margin-top: 101px;
  margin-right: 159px;
  z-index: 2;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
  right: 80px;
  background: url(../img/arrows/Arrownext.svg) 0 0 / 100% no-repeat;
  border: none;
  margin-top: -166px;
  z-index: 2;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.slider {
  position: relative;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 70px;
  height: 26px;
}
.slider__item {}